{% extends 'base.html' %}
{% load static %}
{% block title %} Results {% endblock%}

{% block content %}

<main>
    <form action="{% url 'search' %}" method="get" class="BrowseContainer__SearchBar-Wrapper">
        <div class="BrowseContainer__SearchBar">
            <input type="text" name="search" placeholder="Search...">
            <div class="BrowseContainer__SearchBar-Btn">
                <input type="submit" placeholder="Submit">
            </div>
        </div>
    </form>

    <div class="BrowseContainer">
        {% for book in results %}
        <div class="BrowseContainer__Book">
            <a href="{% url 'visualize' book.uuid %}">

                <div class="BrowseContainer__Book-Cover">
                    <img src="{{ book.cover.url }}">
                </div>

            </a>
            <div class="BrowseContainer__Book-Button">
                <a href="{% url 'borrow' book.uuid %}">Borrow</a>
            </div>
        </div>
        {% endfor %}

        <div class="BrowseContainer__Paginator">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="BrowseContainer__Paginator-Button">
                <div>
                    &lt;&lt;
                </div>
            </a>

            <a href="?page={{ page_obj.previous_page_number }}" class="BrowseContainer__Paginator-Button">
                <div>
                    {{ page_obj.previous_page_number }}
                </div>
            </a>
            {% else %}
            <a href="" class="BrowseContainer__Paginator-Button disabled">
                <div>
                    &lt;&lt;
                </div>
            </a>

            <a href="" class="BrowseContainer__Paginator-Button disabled">
                <div>
                </div>
            </a>
            {% endif %}

            <a href="" class="BrowseContainer__Paginator-Button">
                <div>
                    ...
                </div>
            </a>

            {% if page_obj.has_next %}

            <a href="?page={{ page_obj.next_page_number }}" class="BrowseContainer__Paginator-Button">
                <div>
                    {{ page_obj.next_page_number }}
                </div>
            </a>

            <a href="?page={{ page_obj.paginator.num_pages }}" class="BrowseContainer__Paginator-Button">
                <div>
                    &gt;&gt;
                </div>
            </a>
            {% else %}

            <a href="" class="BrowseContainer__Paginator-Button disabled">
                <div>
                </div>
            </a>

            <a href="" class="BrowseContainer__Paginator-Button disabled">
                <div>
                    &gt;&gt;
                </div>
            </a>

            {% endif %}
        </div>
    </div>
    </div>

</main>


{% endblock %}