{% extends 'base.html' %}
{% load static %}
{% block title %} {{ book.title }} {% endblock%}

{% block content %}
<main>
    <div class="VisualizeContainer">

        <div class="VisualizeContainer__Book">
            <div class="VisualizeContainer__Book-Cover">
                <img src="{{ book.cover.url }}">
            </div>

            <a class="VisualizeContainer__Book-Link" href="{% url 'borrow' book.uuid%}">
                <div class="VisualizeContainer__Book-Button">
                    Borrow
                </div>
            </a>

            <a class="VisualizeContainer__Book-Link" href="">
                <div class="VisualizeContainer__Book-Button">
                    Add to Wishlist
                </div>
            </a>


        </div>

        <div class="VisualizeContainer__Book-Wrapper">
            <div class="VisualizeContainer__Book-Title">
                {{ book.title }}
            </div>

            <div class="VisualizeContainer__Book-Author">
                by Author
            </div>

            <div class="VisualizeContainer__Book-Details">
                <div>
                    Published: 10/11/2022
                </div>

                <div>
                    Publisher: Someone Random
                </div>

                <div>
                    Languague: English
                </div>
            </div>

            <div class="VisualizeContainer__Book-Desc">
                {{ book.description }}
            </div>

            {% if user.is_authenticated %}
            <form class="VisualizeContainer__ReviewForm" action="" method="post">
                {% csrf_token %}
                <div class="VisualizeContainer__ReviewForm-Field">
                    <textarea placeholder="Make a Review..." name="comment"></textarea>
                </div>

                <div class="VisualizeContainer__ReviewForm-Submit">
                    <input type="submit" placeholder="Submit">
                </div>
            </form>
            {% endif %}



            <div class="VisualizeContainer__ReviewsWrapper">
                {% if not book.reviews.all %}

                <h1>No Reviews</h1>

                {% else %}
                <h1>Reviews</h1>
                {% for review in book.reviews.all %}
                <div class="VisualizeContainer__Reviews">
                    <div class="VisualizeContainer__Reviews-Image">
                        <img src="/media/profiles/smoil.jpg" alt="">
                    </div>

                    <div class="VisualizeContainer__Reviews__Wrapper">
                        <div class="VisualizeContainer__Reviews-Name">
                            {{ review.name }} | {{ review.date_added }}
                        </div>

                        <div class="VisualizeContainer__Reviews-Comment" name="comment">
                            {{ review.body }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}


            </div>


        </div>

    </div>

    </div>
    </div>
</main>

{% endblock %}