{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/visualize-style.css' %}">
    <title>Library Interface</title>
</head>

<html>

{% if user.is_authenticated %}

<body>
    <header class="Header">
        <div class="Header__Title">
            Library {{ request.session.name }}
        </div>
        <nav class="Header__Navbar">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'browse' %}">Browse</a></li>
                <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <img src="{{ profile_pic.url }}" alt="">
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>

        <div class="Form">
            <h1 class="Form__Title"> {{ book_title }} </h1>

            <div class="Container">
                <div class="Container__Book">

                    <div class="Book__Cover">
                        <img src="{{ book_cover }}">
                    </div>

                </div>

                <div class="Form__Submit">
                    <a href="{% url 'browse' %}">Back</a>
                    <a href="{% url 'buy' book_uuid %}">Buy</a>
                    <a href="{% url 'favorite' book_uuid %}">Favorite</a>
                </div>

            </div>

        </div>
    </main>

</body>

{% else %}

<body>
    <div class="Form">
        <h1 class="Form__Title">404 NOT FOUND</h1>
    </div>
</body>

{% endif %}


</html>