{% extends 'base.html' %}
{% load static %}
{% block title %} {{ book.title }} {% endblock%}

{% block content %}
<main>
    <div class="VisualizeWrapper">
        <div class="VisualizeContainer-Top">
            {% if messages %}
            {% for message in messages %}

            <div class="Message-Wrapper">
                <div class="Message {{ message.tags }}">
                    {{ message }}
                    <label for="msg-button">
                        <i class="fa-solid fa-x"></i>
                    </label>
                    <button id="msg-button" name="msg-button" type="button"></button>
                </div>
            </div>

            {% endfor %}
            {% endif %}
        </div>
        <div class="VisualizeContainer">

            <div class="VisualizeContainer__Book">
                <div class="VisualizeContainer__Book-Cover">
                    <img src="{{ book.cover.url }}">
                </div>

                <a class="VisualizeContainer__Book-Link" href="{% url 'borrow' book.uuid%}">
                    <div class="VisualizeContainer__Book-Button">
                        Emprestar
                    </div>
                </a>

                {% if user.is_authenticated %}

                <a class="VisualizeContainer__Book-Link" href="{% url 'favorite' book.uuid %}">
                    <div class="VisualizeContainer__Book-Button">
                        Adicionar aos favoritos
                    </div>
                </a>

                {% endif %}

                <form action="" method="post" class="VisualizeContainer__Book-Rate">
                    {% csrf_token %}
                    <input type="radio" id="star-1" name="rate" value="1"><label for="star-1"
                        class="fa-solid fa-star"></label>

                    <input type="radio" id="star-2" name="rate" value="2"><label for="star-2"
                        class="fa-solid fa-star"></label>

                    <input type="radio" id="star-3" name="rate" value="3"><label for="star-3"
                        class="fa-solid fa-star"></label>

                    <input type="radio" id="star-4" name="rate" value="4"><label for="star-4"
                        class="fa-solid fa-star"></label>

                    <input type="radio" id="star-5" name="rate" value="5"><label for="star-5"
                        class="fa-solid fa-star"></label>

                    <div class="Submit-review">
                        <input type="submit" value="Avaliar">
                    </div>

                </form>

                {% if rating %}
                <div class="VisualizeContainer__Book-Button">
                    {{ rating }} de 5.0
                </div>
                {% else %}
                <div class="VisualizeContainer__Book-Button">
                    0 de 5.0
                </div>
                {% endif %}


            </div>

            <div class="VisualizeContainer__Book-Wrapper">
                <div class="VisualizeContainer__Book-Title">
                    {{ book.title }}
                </div>

                <div class="VisualizeContainer__Book-Author">
                    por {{ book.author }}
                </div>

                <div class="VisualizeContainer__Book-Details">
                    <div>
                        Data publicado: {{ book.date_published }}
                    </div>

                    <div>
                        Editora: {{ book.publisher }}
                    </div>

                    <div>
                        Lingua: {{ book.language }}
                    </div>
                </div>

                <div class="VisualizeContainer__Book-Desc">
                    <textarea rows="10" cols="30" disabled>{{ book.description }}</textarea>
                </div>

                <div class="VisualizeContainer__Book-TagsWrapper">
                    <div class="VisualizeContainer__Book-Tags">
                        Tags:
                    </div>
                    {% for tag in book.tags.all %}
                    <div class="VisualizeContainer__Book-Tags">
                        {{ tag }}
                    </div>
                    {% endfor %}
                </div>

                {% if user.is_authenticated %}
                <form class="VisualizeContainer__ReviewForm" action="" method="post">
                    {% csrf_token %}
                    <div class="VisualizeContainer__ReviewForm-Field">
                        <textarea placeholder="Faca um comentario..." name="comment"></textarea>
                    </div>

                    <div class="VisualizeContainer__ReviewForm-Submit">
                        <input type="submit" value="Comentar">
                    </div>
                </form>
                {% endif %}



                <div class="VisualizeContainer__ReviewsWrapper">
                    {% if not book.reviews.all %}

                    <h1>Sem comentarios</h1>

                    {% else %}
                    <h1>Comentarios ({{ book.reviews.count }})</h1>
                    {% for review in book.reviews.all %}
                    <div class="VisualizeContainer__Reviews">
                        <div class="VisualizeContainer__Reviews-Image">
                            <img src="{{ request.user.picture.url }}" alt="">
                        </div>

                        <div class="VisualizeContainer__Reviews__Wrapper">
                            <div class="VisualizeContainer__Reviews-Name">
                                {{ review.name }} | {{ review.date_added }}
                            </div>

                            <div class="VisualizeContainer__Reviews-Comment" name="comment">
                                {{ review.body }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}


                </div>


            </div>

        </div>
    </div>
</main>

<script defer src="{% static 'js/rate.js'%}"></script>
<script defer src="{% static 'js/msg-btn.js'%}"></script>

{% endblock %}