{% extends 'adminBase.html' %}
{% load static %}
{% block title %} Adding New Book {% endblock%}

{% block content %}

<main>
    <form class="AdminForm" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="AdminForm__Book">
            <div class="AdminForm__Book-Cover">
                <img src="{{ book.cover.url }}">
            </div>

            <a class="AccountContainer__Detail-Link">
                <div class="AccountContainer__Detail-Button">
                    <input type="file" accept="image/*" name="cover" id="cover" value="{{ book.cover }}">
                    <label for="cover">
                        Change Cover
                    </label>
                </div>
            </a>

            <a class="AccountContainer__Detail-Link">
                <div class="AccountContainer__Detail-Button">
                    <input name="pdf" id="pdf" type="file" accept="application/pdf" value="{{ book.pdf_file }}">
                    <label for="pdf">
                        PDF
                    </label>
                </div>
            </a>

            <a class="AccountContainer__Detail-Link">
                <div class="AccountContainer__Detail-Button">
                    <input name="mp3" id="mp3" type="file" accept="audio/mpeg" value="{{ book.mp3_file }}">
                    <label for="mp3">
                        MP3
                    </label>
                </div>
            </a>

            <a class="AdminForm__Button-Submit">
                <div class="AdminForm__Book-Button">
                    <input type="number" name="amount" placeholder="Book Amount">
                </div>
            </a>

            <a class="AdminForm__Button-Submit">
                <div class="AdminForm__Book-Button">
                    <input type="submit" value="Add">
                </div>
            </a>


            <a class="AdminForm__Book-Link" href="{% url 'adminBrowse' %}">
                <div class="AdminForm__Book-Button">
                    Back
                </div>
            </a>


        </div>

        <div class="AdminForm__Book-Wrapper">
            <div class="AdminForm__Book-Title">
                Title: <input type="text" name="title" value="{{ book.title }}">
            </div>

            <div class="AdminForm__Book-Author">
                Author: <input type="text" name="author" value="{{ book.author }}">
            </div>

            <div class="AdminForm__Book-Details">
                <div>
                    Published: <input type="text" name="date_published" value="{{ book.date_published }}">
                </div>

                <div>
                    Publisher: <input type="text" name="publisher" value="{{ book.publisher }}">
                </div>

                <div>
                    Languague: <input type="text" name="language" value="{{ book.language }}">
                </div>
            </div>

            <div class="AdminForm__Book-Desc">
                Description: <textarea name="description">{{ book.description }}</textarea>
            </div>

            <div class="AdminForm__Book-Desc">
                Content: <textarea name="content">{{ book.content }}</textarea>
            </div>

        </div>

        </div>

        </div>
    </form>
</main>

{% endblock %}