{% extends 'adminBase.html' %}
{% load static %}
{% block title %} Admin Browse {% endblock%}

{% block content %}

<main>
    <div class="BrowseContainer">
        {% for book in books %}
        <div class="BrowseContainer__Book">
            <a href="{% url 'visualize' book.uuid %}">

                <div class="BrowseContainer__Book-Cover">
                    <img src="{{ book.cover.url }}">
                </div>

            </a>

            <div class="BrowseContainer__Book-Button">
                <a href="{% url 'adminEdit' book.uuid %}">Edit</a>
            </div>

        </div>
        {% endfor %}
    </div>
    </div>
</main>

{% endblock %}