{% if user.is_authenticated and user.is_staff and user.is_superuser %}

<nav class="Navbar">
    <ul class="Navbar__Nav">

        <li class="Nav__Logo ">
            <a class="Nav__Link">
                <span class="Link__Text">Library Interface</span>
                <i class="fa-solid fa-bookmark fa-2x"></i>
            </a>
        </li>

        <li class="Nav__Item">
            <a href="{% url 'adminAdd' %}" class="Nav__Link">
                <i class="fa-solid fa-plus fa-2x"></i>
                <span class="Link__Text">Add Book</span>
            </a>
        </li>

        <li class="Nav__Item">
            <a href="{% url 'browse' %}" class="Nav__Link">
                <i class="fa-solid fa-mask fa-2x"></i>
                <span class="Link__Text">Customer View</span>
            </a>
        </li>

        <li class="Nav__Item">
            <a href="{% url 'logout' %}" class="Nav__Link">
                <i class="fa-solid fa-right-from-bracket fa-2x"></i>
                <span class="Link__Text">Sign out</span>
            </a>
        </li>
    </ul>
</nav>

{% else %}



{% endif %}