{% load static %}

<footer>
    <div class="FooterWrapper">
        <h2 class="FooterWrapper__Title">
            library interface
        </h2>
        <p>
            library interface is a project developed for a college exam.
        </p>

        <ul class="FooterWrapper__Links">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
            <li><a href=""><i class="fa fa-github"></i></a></li>
        </ul>
    </div>
</footer>