{% if user.is_authenticated %}

<nav class="Navbar">
    <ul class="Navbar__Nav">

        <li class="Nav__Logo ">
            <a class="Nav__Link">
                <span class="Link__Text">Library Interface</span>
                <i class="fa-solid fa-bookmark fa-2x"></i>
            </a>
        </li>

        <li class="Nav__Item">
            <a href="{% url 'account' %}" class="Nav__Link">
                <i class="fa-solid fa-user fa-2x"></i>
                <span class="Link__Text">Account Details {{ request.session.username }}</span>
            </a>
        </li>

        <li class="Nav__Item">
            <a href="{% url 'inventory' %}" class="Nav__Link">
                <i class="fa-solid fa-book fa-2x"></i>
                <span class="Link__Text">Inventory</span>
            </a>
        </li>

        <li class="Nav__Item">
            <a href="{% url 'browse' %}" class="Nav__Link">
                <i class="fa-solid fa-bag-shopping fa-2x"></i>
                <span class="Link__Text">Browse</span>
            </a>
        </li>

        <li class="Nav__Item">
            <a href="{% url 'wishlist' %}" class="Nav__Link">
                <i class="fa-solid fa-star fa-2x"></i>
                <span class="Link__Text">Wishlist</span>
            </a>
        </li>

        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
        <li class="Nav__Item">
            <a href="{% url 'adminBrowse' %}" class="Nav__Link">
                <i class="fa-solid fa-screwdriver-wrench fa-2x"></i>
                <span class="Link__Text">Admin View</span>
            </a>
        </li>
        {% endif %}

        <li class="Nav__Item">
            <a href="{% url 'logout' %}" class="Nav__Link">
                <i class="fa-solid fa-right-from-bracket fa-2x"></i>
                <span class="Link__Text">Sign Out</span>
            </a>
        </li>
    </ul>
</nav>

{% else %}

<nav class="Navbar">
    <ul class="Navbar__Nav">

        <li class="Nav__Logo ">
            <a class="Nav__Link">
                <span class="Link__Text">Library Interface</span>
                <i class="fa-solid fa-bookmark fa-2x"></i>
            </a>
        </li>

        <li class="Nav__Item">
            <a href="{% url 'login' %}" class="Nav__Link">
                <i class="fa-solid fa-forward fa-2x"></i>
                <span class="Link__Text">Sign in</span>
            </a>
        </li>


        <li class="Nav__Item">
            <a href="{% url 'browse' %}" class="Nav__Link">
                <i class="fa-solid fa-bag-shopping fa-2x"></i>
                <span class="Link__Text">Browse</span>
            </a>
        </li>

        <li class="Nav__Item">
            <a href="" class="Nav__Link">
                <i class="fa-solid fa-question fa-2x"></i>
                <span class="Link__Text">Forgot Password</span>
            </a>
        </li>

        <li class="Nav__Item">
            <a href="{% url 'register' %}" class="Nav__Link">
                <i class="fa-solid fa-address-card fa-2x"></i>
                <span class="Link__Text">Register</span>
            </a>
        </li>
    </ul>
</nav>

{% endif %}