* {
    margin: 0;
    font-family: 'sans-serif';
    font-size: 20px;
}

body {
    background: #141414;
}

.Header {
    display: flex;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.Header__Title {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 1rem
}

.Header__Navbar {
    margin-left: auto;
    padding: 0.5rem;
}

.Header__Navbar img {
    width: 2.3rem;
    height: 1.5rem;
    border: 1px solid whitesmoke;
    margin: 0.2rem;
}

.Header__Navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none
}

.Header__Navbar ul li {
    margin: 0 0.25rem 0 0.25rem;
}

.Header__Navbar ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff
}

.Header__Navbar ul li a:hover {
    color: grey
}

.Container {
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.Container__Book {
    margin: 1rem;
    display: inline-block;
}

.Container__Book a {
    text-decoration: none;
}

.Book__Cover img {
    width: 128px;
    height: 200px;
    border: 0.2rem solid rgb(39, 39, 39);
    box-shadow: -5px -3px 7px #141414, 1px 1px 4px rgba(146, 146, 146, 0.945);
}


.Book__Title {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

.Book__Title a {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    margin: 0.2rem;
    padding: 0.10rem;
    border: 0.25rem solid rgb(39, 39, 39);
}