* {
    margin: 0;
    font-family: 'sans-serif';
    font-size: 20px;
}

body {
    background: #141414
}

.Header {
    display: flex;
    width: 100%;
    margin: 0;
}

.Header__Title {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 1rem
}

.Header__Navbar {
    margin-left: auto;
    padding: 1rem;
}

.Header__Navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none
}

.Header__Navbar ul li {
    margin: 0 0.25rem 0 0.25rem;
}

.Header__Navbar ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff
}

.Header__Navbar ul li a:hover {
    color: grey
}



.Container {
    display: flex;
    flex-direction: column;
    flex-flow: column;

    align-items: center;
    justify-content: center;

    width: 100%;
}

.Form {
    display: flex;
    flex-direction: column;
    flex-flow: column;

    align-items: center;
    justify-content: center;

    width: 70%;

    margin-top: 5rem;

    background: rgba(0, 0, 0, 0.59);
    border-radius: 12px;
}

.Form__Title {
    margin: 1rem;
    color: #fff;
    font-size: 2rem;
}

.Form__FieldContainer {
    display: flex;
    flex-direction: row;
    flex-flow: row;

    justify-content: flex-start;
    align-items: center;

    width: 90%;

    margin-top: 2rem;
}


.FieldContainer__LabelContainer {
    display: flex;
    flex-direction: row;
    flex-flow: row;

    justify-content: flex-start;
    align-items: center;

    width: 10%;
}

.LabelContainer__Label {
    color: aliceblue;
}

.FieldContainer__InputContainer {
    display: flex;
    flex-direction: row;
    flex-flow: row;

    justify-content: flex-start;
    align-items: center;
}

.InputContainer__Input {
    background: aliceblue;
    color: #000000
}

.InputContainer__Input:focus {
    background: #000000;
    color: aliceblue;
}

.Form__TextContainer {
    display: flex;
    flex-direction: column;
    flex-flow: column;

    justify-content: flex-start;
    align-items: center;

    width: 90%;
}

.TextContainer__TextAreaContainer {
    display: flex;
    flex-direction: row;
    flex-flow: row;

    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 150px;

}

.TextAreaContainer__Desc {
    background: aliceblue;
    color: #000000;
    width: 100%;
}

.TextAreaContainer__Cont {
    background: aliceblue;
    color: #000000;
    width: 100%;
}

.TextAreaContainer__Desc:focus,
.TextAreaContainer__Cont:focus {
    background: #000000;
    color: aliceblue;
}






.Form__Submit input,
.Form__Submit a {
    margin: 1rem;
    font-size: 1.1rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    border: 0.025rem solid transparent;
    text-decoration: none;
}

.Form__Submit input:hover,
.Form__Submit a:hover {
    color: grey;
}