* {
    margin: 0;
    font-family: 'sans-serif';
    font-size: 20px;
}

body {
    background: #141414
}

.Header {
    display: flex;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.Header__Title {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 1rem
}

.Header__Navbar {
    margin-left: auto;
    padding: 0.5rem;
}

.Header__Navbar img {
    width: 2.3rem;
    height: 1.5rem;
    border: 1px solid whitesmoke;
    margin: 0.2rem;
}

.Header__Navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none
}

.Header__Navbar ul li {
    margin: 0 0.25rem 0 0.25rem;
}

.Header__Navbar ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff
}

.Header__Navbar ul li a:hover {
    color: grey
}

.Container {
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
}

.Container__Title {
    margin: 5rem;
    color: #fff;
    font-size: 5rem;
}

.Container__Description {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.Container__Content,
.Container__Description {
    color: white;
}

.TextAreaContainer__Cont {
    width: 80%;
    height: 250px;
    color: aliceblue;
    margin: 1.5rem;
}

.Container__Button a {
    font-size: 1.1rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    border: 0.025rem solid transparent;
    text-decoration: none;
}

.Container__Button a:hover {
    color: grey;
}