:root {
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    --color-theme: #3753a1;
}

body {
    color: black;
    background-color: #1f1f29;
    margin: 0;
    padding: 0;
}

/* Browser scrollbar */

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    width: #6649b8;
}

/* Navbar */

.Header {
    background-color: var(--bg-secondary);
    height: 80px;
}

.Navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.Navbar__Nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.Nav__Item {
    width: 100%;
}

.Nav__Item:last-child {
    margin-top: auto;
}

.Nav__Link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed)
}

.Nav__Link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.Link__Text {
    display: none;
    margin-left: 1rem;
}

.Nav__Link i {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-solid {
    color: var(--color-theme);
    transition: var(--transition-speed);
}

.Nav__Logo {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.3rem;
    letter-spacing: 0.2ch;
    width: 100%;
}

.Nav__Logo i {
    fill: whitesmoke;
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.Navbar:hover .Nav__Logo i {
    transform: rotate(180deg);
    fill: var(--color-theme);
}

.Nav__Search {
    font-size: 1rem;
    max-width: 8rem;
    background-color: transparent;
    border: none;
    color: white;
}

/* Large Screens */
@media only screen and (min-width: 600px) {
    .Navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .Navbar:hover {
        width: 16rem;
    }

    .Navbar:hover .Link__Text {
        display: inline;
        transition: opacity var(--transition-speed);
    }

    main {
        margin-left: 5rem;
        padding: 1rem;
    }
}


/* Small Screens */
@media only screen and (max-width: 600px) {
    .Navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .Nav__Logo {
        display: none;
    }

    .Navbar__Nav {
        flex-direction: row;
    }

    .Nav__Link {
        justify-content: center;
    }

    .Nav__Link svg {
        min-width: 1.4rem;
        margin: 0 1.5rem;
    }

    main {
        margin: 0;
    }
}

/* Show Books in browse */

main {
    display: flex;
    justify-content: center;
}

/* Footer */

footer {
    width: 100%;
    bottom: 0;
    border-top: 0.2rem solid var(--bg-primary);
    color: var(--text-secondary);
}

.FooterWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.FooterWrapper__Title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1rem;
}

.FooterWrapper p {
    font-size: 0.8rem;
    text-transform: capitalize;
}

.FooterWrapper__Links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FooterWrapper__Links li {
    margin: 0 0.6rem;
}

.FooterWrapper__Links a {
    text-decoration: none;
    color: var(--text-secondary);
}

.FooterWrapper__Links a:hover i {
    transition: var(--transition-speed);
    color: var(--color-theme);
}

.FooterWrapper__Links a i {
    font-size: 0.7rem;
}

.FooterBottom {
    background-color: #131318;
    text-align: center;
    padding: 0.5rem;
}

.FooterBottom p {
    text-transform: capitalize;
    word-spacing: 0.2rem;
}


.BrowseContainer {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: 75vh;
    background-color: var(--bg-primary);
}

.BrowseContainer__Book {
    margin: 2rem;
    padding-left: 3rem;
    display: inline-block;
}

.BrowseContainer__SearchBar-Wrapper {
    margin-top: 1rem;
    color: white;
    text-align: center;
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BrowseContainer__SearchBar {
    width: 45%;
    display: flex;
    flex-direction: row;
}

.BrowseContainer__SearchBar input {
    font-size: 1.5rem;
    background-color: #1f1f29;
    color: white;
    width: 100%;
}

.BrowseContainer__SearchBar-Btn {
    display: flex;

}

.BrowseContainer__SearchBar-Btn i {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0.75rem;
    background-color: var(--bg-secondary);
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
}

.BrowseContainer__SearchBar-Btn i:hover {
    transition: var(--transition-speed);
    color: var(--color-theme);
}

.BrowseContainer__SearchBar-Btn input {
    background-color: transparent;
    border: none;
}

.BrowseContainer__Book a {
    text-decoration: none;
}

.BrowseContainer__Book-Cover img {
    width: 8rem;
    height: 13rem;
    border: 0.2rem solid rgb(39, 39, 39);
    box-shadow: -5px -3px 7px #141414, 1px 1px 4px rgba(146, 146, 146, 0.945);
}


.Book__Title {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

.BrowseContainer__Book-Button {
    font-size: 1.5rem;
    text-decoration: none;
    width: 100%;
    text-align: center;
    border: 2px solid transparent;
    transition: 500ms ease;
}

.BrowseContainer__Book-Button:hover {
    color: #3753a1;
    background-color: var(--bg-secondary);
    border: 2px solid var(--bg-secondary);
    transition: 500ms ease;
}

.BrowseContainer__Book-Button a {
    color: white;
}

.BrowseContainer__Book-Button a:hover {
    color: #3753a1;
}

.BrowseContainer__Paginator {
    margin-left: auto;
    margin-top: auto;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.BrowseContainer__Paginator-Button {
    padding: 1.2rem;
    background-color: var(--bg-primary);
    border: 0.1rem solid #1f1f29;
    text-decoration: none;
    color: white;
}

.BrowseContainer__Paginator-Button:hover {
    transition: var(--transition-speed);
    background-color: var(--bg-secondary);
    color: var(--color-theme);
}

.disabled,
.disabled:hover {
    background-color: #1f1f29;
    border: 0.1rem solid var(--bg-primary);
}



/* Visualize Books Styling */

.VisualizeContainer {
    margin-top: 5rem;
    display: flex;
    width: 70%;
    background-color: var(--bg-primary);
    color: rgb(216, 216, 216);
}

.VisualizeContainer__Book-Cover {
    display: flex;
    height: 20rem;
    margin: 1rem;
    justify-content: center;
}


.VisualizeContainer__Book-Cover img {
    margin-top: 0.8rem;
    width: 12rem;
    height: 17rem;
}

.VisualizeContainer__Book-Cover img:hover {
    transform-style: preserve-3d;
    animation: rotate 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes rotate {
    100% {
        transform: perspective(1000px) rotateY(15deg);
    }
}


.VisualizeContainer__Book-Wrapper {
    margin: 2rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.VisualizeContainer__Book-Title {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 3rem;
}

.VisualizeContainer__Book-Author {
    margin-top: 2rem;
    font-size: 1.6rem;
}

.VisualizeContainer__Book-Details {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.VisualizeContainer__Book-Desc textarea {
    margin-top: 4rem;
    font-size: 1.6rem;
    background-color: #1f1f29;
    width: 100%;
    resize: none;
    color: white;
}


.VisualizeContainer__Book-TagsWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.VisualizeContainer__Book-Tags {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #1f1f29;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
}

.VisualizeContainer__Book-Tags:hover {
    margin: 1rem;
    padding: 0.5rem;
    color: var(--color-theme);
    background-color: var(--bg-secondary);
    transition: var(--transition-speed);
}


.VisualizeContainer__Book-Button {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
}

.VisualizeContainer__Book-Rate {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
}

.VisualizeContainer__Book-Rate input[type="radio"] {
    display: none;
}

.VisualizeContainer__Book-Rate .disabled {
    pointer-events: none;
}

.VisualizeContainer__Book-Rate label {
    opacity: 50%;
    cursor: pointer;
}

.VisualizeContainer__Book-Rate:hover label {
    opacity: 100%;
}

.VisualizeContainer__Book-Rate label:hover {
    opacity: 100%;
}

.VisualizeContainer__Book-Rate label:hover~label {
    opacity: 50%;
}

.VisualizeContainer__Book-Rate label.active {
    opacity: 100%;
}

.Submit-review input {
    background-color: transparent;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    font-size: 1rem;
}


.VisualizeContainer__Book-Link {
    text-decoration: none;
    color: white;
}

.VisualizeContainer__Book-Button:hover {
    color: var(--color-theme);
    transition: var(--transition-speed);
    background-color: var(--bg-secondary);
}

/* Reviews */

.VisualizeContainer__ReviewForm {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.VisualizeContainer__ReviewForm-Field {
    width: 100%;
}

.VisualizeContainer__ReviewForm-Field textarea {
    background-color: var(--bg-primary);
    width: 100%;
    height: 5rem;
    resize: none;
    font-size: 1.5rem;
    color: white;
}

.VisualizeContainer__ReviewForm-Field textarea::placeholder {
    font-size: 1.5rem;
}


.VisualizeContainer__ReviewForm-Submit input {
    border: none;
    background-color: var(--bg-primary);
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
}

.VisualizeContainer__ReviewForm-Submit input:hover {
    transition: var(--transition-speed);
    background-color: var(--bg-secondary);
    color: var(--color-theme);
}

.VisualizeContainer__ReviewsWrapper {
    display: flex;
    flex-direction: column;
}

.VisualizeContainer__Reviews {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.VisualizeContainer__Reviews-Image img {
    width: 7rem;
    height: 7rem;
}

.VisualizeContainer__Reviews-Name,
.VisualizeContainer__Reviews-Comment {
    margin-left: 1rem;
}

/* Inventory */

.InventoryContainer__Title {
    text-align: center;
}

.InventoryContainer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 75vh;
    background-color: var(--bg-primary);
    color: rgb(216, 216, 216);
}

.InventoryContainer__Book {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

}

.InventoryContainer__Book-Cover img {
    width: 5rem;
    height: 7rem;
}

.InventoryContainer__Book-Info {
    width: 100%;
    height: 50%;
    position: relative;
    margin-top: 1.5rem;
    font-size: 1.4rem;
    line-height: 3.5rem;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.InventoryContainer__Book-Info div {
    margin-left: auto;
}

.InventoryContainer__Book-Button {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.InventoryContainer__Book-Button:hover {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    background-color: var(--bg-secondary);
    color: var(--color-theme);
    transition: var(--transition-speed);
}

.LoginForm {
    margin-top: 17rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--bg-primary);
    color: rgb(216, 216, 216);
    text-align: center;
    margin-bottom: 16.5rem;
}

.LoginForm__Title {
    font-size: 3rem;
}

.LoginForm__Field {
    margin-top: 1rem;
    background-color: var(--bg-primary);
}


.LoginForm__Field input {
    font-size: 2rem;
    width: 50%;
    text-align: center;
    background-color: var(--bg-primary);
    color: white;
}

.LoginForm__Field-Submit input {
    margin-top: 1rem;
    background-color: var(--bg-primary);
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    color: #fff;
    cursor: pointer;
}

.LoginForm__Field-Submit input:hover {
    transition: var(--transition-speed);
    background: var(--bg-secondary);
    color: var(--color-theme);
}

.RegisterForm {
    margin-top: 17rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--bg-primary);
    color: rgb(216, 216, 216);
    text-align: center;
    margin-bottom: 8.8rem;
}

/* Admin */

.AdminForm {
    margin-top: 5rem;
    display: flex;
    width: 70%;
    background-color: var(--bg-primary);
    color: rgb(216, 216, 216);
}

.AdminForm__Book-Cover {
    display: flex;
    height: 20rem;
    justify-content: center;
}


.AdminForm__Book-Cover img {
    margin-top: 0.8rem;
    width: 12rem;
    height: 17rem;
}

.AdminForm__Book-Cover img:hover {
    transform-style: preserve-3d;
    animation: rotate 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes rotate {
    100% {
        transform: perspective(1000px) rotateY(15deg);
    }
}


.AdminForm__Book-Wrapper {
    margin: 2rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.AdminForm__Book-Title,
.AdminForm__Book-Author {
    margin-top: 2rem;
    font-size: 2rem;
}


.AdminForm__Book-Title input,
.AdminForm__Book-Author input {
    font-size: 1.2rem;
    height: 2rem;
    background-color: #1f1f29;
    color: var(--text-secondary);
}

.AdminForm__Book-Details input {
    font-size: 0.7rem;
    height: 2rem;
    background-color: #1f1f29;
    color: var(--text-secondary);
}


.AdminForm__Book-Details {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1rem;
}

.AdminForm__Book-Desc {
    margin-top: 4rem;
}


.AdminForm__Book-Desc textarea {
    font-size: 1.6rem;
    max-height: 25rem;
    overflow-y: scroll;
    background-color: #1f1f29;
    padding: 0;
    width: 100%;
    height: 10rem;
    resize: none;
    color: var(--text-secondary);
}

.AdminForm__Book-Desc textarea::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: var(--bg-secondary)
}

.AdminForm__Book-Desc textarea::-webkit-scrollbar {
    width: 10px;
}

.AdminForm__Book-Desc textarea::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--text-primary);
}

.AdminForm__Book-Desc textarea::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-theme);

}

.AdminForm__Book-Button {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
}

.AdminForm__Button-Submit input {
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--bg-primary);
    border: none;
    color: white;
}

.AdminForm__Button-Submit:hover input {
    font-size: 1.6rem;
    text-align: center;
    border: none;

    color: var(--color-theme);
    transition: var(--transition-speed);
    background-color: var(--bg-secondary);
}

.AdminForm__Book-Link {
    text-decoration: none;
    color: white;
}

.AdminForm__Book-Button:hover {
    color: var(--color-theme);
    transition: var(--transition-speed);
    background-color: var(--bg-secondary);
}

/* Account Details */

.AccountContainer {
    margin-top: 5rem;
    display: flex;
    width: 70%;
    height: 75vh;
    background-color: var(--bg-primary);
    color: rgb(216, 216, 216);
}

.AccountContainer__Detail-Pic {
    display: flex;
    width: 250px;
    height: 300px;
    justify-content: center;
    border: 0.2rem solid var(--bg-secondary);
}



.AccountContainer__Detail-Pic img {
    margin-top: 0.8rem;
    width: 12rem;
    height: 17rem;

}

.AccountContainer__Detail-Pic img:hover {
    transform-style: preserve-3d;
    animation: rotate 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes rotate {
    100% {
        transform: perspective(1000px) rotateY(15deg);
    }
}


.AccountContainer__Detail-Wrapper {
    margin: 2rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.AccountContainer__Detail-Title {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
}

.AccountContainer__Detail-Field {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
}

.AccountContainer__Detail-Label {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
}

.AccountContainer__Detail-Input input {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid var(--color-theme);
    color: var(--text-secondary);
}


.AccountContainer__Detail-Button {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
}

#AccountName {
    background-color: var(--bg-secondary);
}

.AccountContainer__Detail-Link {
    text-decoration: none;
    color: white;
}

.AccountContainer__Detail-Button:hover {
    color: var(--color-theme);
    transition: var(--transition-speed);
    background-color: var(--bg-secondary);
}

.AccountContainer__Detail-Submit div input {
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--bg-secondary);
    font-size: 1.5rem;
    color: var(--text-secondary);
}

.AccountContainer__Detail-Submit div input:hover {
    transition: var(--transition-speed);
    color: var(--color-theme);
}

.AccountContainer__Detail-Button input[type="file"] {
    display: none;
}

.SearchContainer {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    background-color: var(--bg-primary);
}