<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/login-style.css">
    <title>Library Interface</title>
</head>

<body>
    <header class="Header">
        <div class="Header__Title">Library</div>
        <nav class="Header__Navbar">
            <ul>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="#">Inventory</a></li>
            </ul>
        </nav>
    </header>

    <main class="Container">
        BOOKS
    </main>

</body>

</html>