{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock%}

{% block content %}

<main>
    <form class="LoginForm" action="" method="POST" autocomplete="off">
        {% csrf_token %}

        <h1 class="LoginForm__Title">Login</h1>

        <div class="LoginForm__Field">
            <input type="email" name="email" placeholder="email">
        </div>

        <div class="LoginForm__Field">
            <input type="password" name="password" placeholder="password">
        </div>

        <div class="LoginForm__Field-Submit">
            <input type="submit" placeholder="Submit">
        </div>
    </form>
</main>

{% endblock %}