{% extends 'base.html' %}
{% load static %}
{% block title %} Logar {% endblock%}

{% block content %}

<main>
    <form class="Login" action="" method="POST" autocomplete="off">
        {% csrf_token %}

        <h1 class="Login__Title">Logar</h1>

        <div class="Login__Field">
            <input type="email" name="email" placeholder="email">
        </div>

        <div class="Login__Field">
            <input type="password" name="password" placeholder="senha">
        </div>

        <div class="Login__Field-Submit">
            <input type="submit" value="Entrar">
        </div>
    </form>
</main>

{% endblock %}