{% extends 'base.html' %}
{% load static %}
{% block title %} Cadastro {% endblock%}

{% block content %}

<main>
    <form class="Register" action="" method="POST" autocomplete="off">
        {% csrf_token %}

        <h1 class="Login__Title">Cadastro</h1>

        <div class="Login__Field">
            <input type="text" name="username" placeholder="usuario">
        </div>

        <div class="Login__Field">
            <input type="email" name="email" placeholder="email">
        </div>

        <div class="Login__Field">
            <input type="password" name="password1" placeholder="senha">
        </div>

        <div class="Login__Field">
            <input type="password" name="password2" placeholder="confirmar senha">
        </div>

        <div class="Login__Field-Submit">
            <input type="submit" value="Enviar">
        </div>
    </form>

</main>

{% endblock %}