{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock%}

{% block content %}

<main>
    <form class="RegisterForm" action="" method="POST" autocomplete="off">
        {% csrf_token %}

        <h1 class="LoginForm__Title">Register</h1>

        <div class="LoginForm__Field">
            <input type="text" name="username" placeholder="username">
        </div>

        <div class="LoginForm__Field">
            <input type="email" name="email" placeholder="email">
        </div>

        <div class="LoginForm__Field">
            <input type="password" name="password1" placeholder="password">
        </div>

        <div class="LoginForm__Field">
            <input type="password" name="password2" placeholder="confirm password">
        </div>

        <div class="LoginForm__Field-Submit">
            <input type="submit" placeholder="Submit">
        </div>
    </form>

</main>

{% endblock %}