{% extends 'base.html' %}
{% load static %}
{% block title %} Inventario {% endblock%}

{% block content %}

<main>
    <div class="InventoryContainer">
        <h1 class="InventoryContainer__Title">Seus Livros</h1>
        {% for book in owned_books %}

        <div class="InventoryContainer__Book">
            <a href="{% url 'visualize' book.uuid %}">
                <div class="InventoryContainer__Book-Cover">
                    <img src="{{ book.cover.url }}">
                </div>
            </a>

            <div class="InventoryContainer__Book-Info">
                {{ book.title }}

                <div>
                    <a class="InventoryContainer__Book-Button" href="{% url 'read' book.uuid %}">Ler</a>
                    <a class="InventoryContainer__Book-Button" href="{% url 'mp3' book.uuid %}">Audio</a>
                    <a class="InventoryContainer__Book-Button" href="{% url 'pdf' book.uuid %}">PDF</a>
                    <!-- <a class="InventoryContainer__Book-Button" href="#">Retornar</a> -->
                </div>

            </div>

        </div>

        {% endfor %}
    </div>
    </div>
</main>

{% endblock %}