{% extends 'base.html' %}
{% load static %}
{% block title %} Browsing {% endblock%}

{% block content %}

<main>
    <div class="Container">
        <h1 class="Container__Title">{{ book.title }}</h1>

        <div class="Container__Description">
            {{ book.description }}
        </div>

        <div class="Container__TextContainer">
            <div class="TextContainer__TextAreaContainer">
                <textarea class="TextAreaContainer__Cont" disabled name="cont">{{ book.content }}</textarea>
            </div>
        </div>

        <div class="Container__Button">
            <a href="{% url 'inventory' %}">Back</a>
        </div>
    </div>
    </div>
</main>

{% endblock %}