{% extends 'base.html' %}
{% load static %}
{% block title %} Favoritos {% endblock%}

{% block content %}

<main>
    <div class="InventoryWrapper">
        <div class="InventoryContainer-Top">
            {% if messages %}
            {% for message in messages %}

            <div class="Message-Wrapper">
                <div class="Message {{ message.tags }}">
                    {{ message }}
                    <label for="msg-button">
                        <i class="fa-solid fa-x"></i>
                    </label>
                    <button id="msg-button" name="msg-button" type="button"></button>
                </div>
            </div>

            {% endfor %}
            {% endif %}
        </div>
        <div class="InventoryContainer">
            <h1 class="InventoryContainer__Title">Seus favoritos</h1>
            {% for book in wishlist %}

            <div class="InventoryContainer__Book">
                <a href="{% url 'visualize' book.uuid %}">
                    <div class="InventoryContainer__Book-Cover">
                        <img src="{{ book.cover.url }}">
                    </div>
                </a>

                <div class="InventoryContainer__Book-Info">
                    {{ book.title }}

                    <div>
                        <a class="InventoryContainer__Book-Button" href="{% url 'borrow' book.uuid %}">Emprestar</a>
                        <a class="InventoryContainer__Book-Button" href="{% url 'visualize' book.uuid %}">Ver</a>
                    </div>

                </div>

            </div>

            {% endfor %}
        </div>
    </div>
</main>

<script defer src="{% static 'js/msg-btn.js'%}"></script>

{% endblock %}