{% extends 'base.html' %}
{% load static %}
{% block title %} Favoritos {% endblock%}

{% block content %}

<main>
    <div class="InventoryContainer">
        <h1 class="InventoryContainer__Title">Seus favoritos</h1>
        {% for book in wishlist %}

        <div class="InventoryContainer__Book">
            <a href="{% url 'visualize' book.uuid %}">
                <div class="InventoryContainer__Book-Cover">
                    <img src="{{ book.cover.url }}">
                </div>
            </a>

            <div class="InventoryContainer__Book-Info">
                {{ book.title }}

                <div>
                    <a class="InventoryContainer__Book-Button" href="{% url 'borrow' book.uuid %}">Emprestar</a>
                    <a class="InventoryContainer__Book-Button" href="{% url 'visualize' book.uuid %}">Ver</a>
                </div>

            </div>

        </div>

        {% endfor %}
    </div>
    </div>
</main>

{% endblock %}