{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/admin-style.css' %}">
    <title>Library Interface</title>
</head>

{% if user.is_authenticated %}

<body>
    <header class="Header">
        <div class="Header__Title">
            Library {{ request.session.name }}
        </div>
        <nav class="Header__Navbar">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'browse' %}">Browse</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="Container">
        <div class="Container">
            {% for book in wishlist %}
            <div class="Container__Book">
                    <div class="Book__Cover">
                        <img src="{{ book.cover.url }}">
                    </div>

                    <div class="Book__Title">
                        {{ book.title }}
                        <!-- <a href="{% url 'remove' book.uuid %}">remove</a> -->
                    </div>

                </a>
            </div>
            {% endfor %}
        </div>
        </div>
    </main>
</body>

{% endif %}

</html>